.item{
  display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 800px;
    align-items: center;
    padding: 10px;
  
}
.add-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-img > img{
 width: 100px;
}
.item-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px ;
 
}