.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(43, 158, 1, 0.351);
    background-color: rgba(43, 158, 1, 0.542);
    height: 100px;

}
#imghead{
    width: 100px;
    height: 100px;
}
.niveitem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 2px;
}

.niveitem>li{
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    margin: 5px;
    font-size: 30px;
}